@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+Hebrew:wght@100..900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans Hebrew", serif;
}

.mart-10 {
  margin-top: 10px;
}

.marl-10 {
  margin-left: 10px
}

.button {
  padding: 5px 10px;
  border-radius: 3px;
}

.marb-10 {
  margin-bottom: 10px;
}

.input {
  padding: 10px 15px;
  border-radius: 50px;
}

.marr-10 {
  margin-right: 10px;
}